* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5b6;
  scroll-behavior: smooth;
}
/*CSS for Header_Menu*/
.container-fluid {
  margin: 0px auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #87cefa;
  box-shadow: 0 5px 25px rgb(0 0 0/20%);
  transition: 0.6s;
}
header .navbar {
  max-width: 1250px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
header.sticky {
  background-color: #87cefa;
}
header.sticky .menu .sub-menu {
  background-color: #0000ff;
}
header.sticky .menu li:hover > a {
  border: none;
  color: #ba1007e3;
  text-decoration: none;
}
header .navbar .bx-menu {
  display: none;
}
.navigation .sildebar-logo .logo-name,
.navigation .sildebar-logo .x-bar {
  display: none;
}
header .navbar .logo {
  display: flex;
}
header .navbar .logo .img_lg img {
  max-width: 100px;
  height: auto;
}
header .navbar .logo .text_hahaki {
  padding-top: 40px;
  text-decoration: none;
  display: none;
  color: black;
  font-weight: 500;
}
header .navbar .navigation {
  height: 100%;
  line-height: 100px;
  display: flex;
}
header .navbar .navigation .menu {
  display: flex;
}
header .navbar .navigation .menu li {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
header .navbar .navigation .menu li a {
  height: 100%;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.navbar .navigation .menu li:hover > a {
  color: #ba1007e3;
}
/*Cầu hình drob-arrow*/
header .navbar .navigation .menu li .arrow {
  height: 100%;
  width: 22px;
  text-align: center;
  color: black;
  line-height: 100px;
  transition: all 0.3s ease;
}
.navbar .navigation .menu li:hover .gt-arrow,
.navbar .navigation .menu li:hover .khlt-arrow,
.navbar .navigation .menu li:hover .tl-arrow {
  transform: rotate(180deg);
}
/*Cấu hình sub-menu*/
.navbar .navigation .menu .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  background: #0000ff;
  line-height: 40px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
  display: none;
}
.navbar .navigation .menu .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
.navbar .navigation .menu .sub-menu li:hover {
  background: #003300;
}
.navbar .navigation .menu .sub-menu li:last-child a {
  border: none;
}
.navbar .navigation .menu .sub-menu li a {
  color: white;
  font-size: 12px;
  font: 500;
}
.navbar .navigation .menu li:hover .gt-sub-menu,
.navbar .navigation .menu li:hover .khlt-sub-menu,
.navbar .navigation .menu li:hover .tl-sub-menu {
  display: block;
}
/*Reponsive for Mobile phone */
@media screen and (max-width: 954px) {
  /*reponsive for menu bar*/
  header .navbar {
    max-width: 100%;
    padding: 0 5px;
  }
  header .navbar .logo .img_lg img {
    max-width: 100px;
    height: auto;
  }
  header .navbar .logo .text_hahaki {
    display: block;
    padding-top: 40px;
    font-size: 10px;
  }
  header .navbar .navigation {
    display: block;
    position: fixed;
    top: 105px;
    left: -100%;
    width: 300px;
    max-width: 100%;
    height: auto;
    background: #87cefa;
    padding: 20px;
    line-height: 30px;
    transition: all 0.5s ease;
    border-radius: 15px 15px 15px 15px;
  }
  header .navbar .navigation .menu li a {
    color: black;
    font-weight: 500;
  }
  header .navbar .navigation .sildebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation .sildebar-logo .logo-name,
  .navigation .sildebar-logo .x-bar {
    display: block;
    color: black;
    font-size: 25px;
    font-weight: 500;
  }
  header .navbar .navigation .menu {
    display: block;
    margin-top: 15px;
  }
  header .navbar .bx-menu {
    display: block;
    font-size: 25px;
  }
  header .navbar .navigation .menu li {
    display: block;
  }
  .navbar .navigation .menu .sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  .navbar .navigation .menu .sub-menu li {
    border-bottom: none;
  }
  .navbar .navigation .menu li:hover .gt-sub-menu,
  .navbar .navigation .menu li:hover .khlt-sub-menu,
  .navbar .navigation .menu li:hover .tl-sub-menu {
    display: none;
  }
  header .navbar .navigation .menu li .arrow {
    line-height: 40px;
  }
  .navbar .navigation .menu li:hover .gt-arrow,
  .navbar .navigation .menu li:hover .khlt-arrow,
  .navbar .navigation .menu li:hover .tl-arrow {
    transform: rotate(0deg);
  }
  .navbar .navigation.show1 .menu .sub-menu.gt-sub-menu {
    display: block;
  }
  .navbar .navigation.show2 .menu .sub-menu.khlt-sub-menu {
    display: block;
  }
  .navbar .navigation.show3 .menu .sub-menu.tl-sub-menu {
    display: block;
  }
  .navbar .navigation.show1 .menu li .gt-arrow,
  .navbar .navigation.show2 .menu li .khlt-arrow,
  .navbar .navigation.show3 .menu li .tl-arrow {
    transform: rotate(180deg);
  }
  .ct_khoahoc .col_kh1 .khoa_k1 {
    background-size: 360px 229px;
  }
  .ct_khoahoc .col_kh2 .khoa_k2 {
    background-size: 360px 229px;
  }
  .ct_khoahoc .col_kh_android .khoa_k3 {
    background-size: 360px 168px;
  }
}
.lichhoc h3 {
  color: #0b8ddd;
  margin-top: 120px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
/*Cau hinh cac khoa hoc*/
.ct_khoahoc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col_kh1 {
  background: #e8e8e8;
  width: 390px;
  height: auto;
  margin: 10px;
  overflow: hidden;
  border-radius: 25px;
}
.col_kh2 {
  background: #e8e8e8;
  width: 390px;
  height: auto;
  margin: 10px;
  overflow: hidden;
  border-radius: 25px;
}
.col_kh_android {
  background: #e8e8e8;
  width: 460px;
  height: auto;
  margin: 10px;
  overflow: hidden;
  border-radius: 25px;
}
.mau_an {
  background-color: white;
  width: 460px;
  height: 62px;
}
.col_khandroi_image {
  height: 168px;
  width: 460px;
}
.col_kh1_image {
  height: 229px;
  width: 390px;
  margin: bottom 15px;
}
.col_kh2_image {
  height: 229px;
  width: 390px;
  margin: bottom 15px;
}
.k1_pt {
  width: 100%;
  height: 40px;
  background-color: black;
  padding-top: 10px;
  padding-left: 85px;
  color: yellow;
  font-weight: bold;
}
.k2_pt {
  width: 100%;
  height: 40px;
  background-color: black;
  padding-top: 10px;
  padding-left: 85px;
  color: yellow;
  font-weight: bold;
}
/*cau hinh card 1*/
.col_kh1 h3 {
  font-size: 20px;
  margin-left: 10px;
  color: black;
}
.col_kh1 p {
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
  color: black;
}
.col_kh1 a {
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 58px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
}
/*cau hinh card 2*/
.col_kh2 h3 {
  font-size: 20px;
  margin-left: 10px;
}
.col_kh2 p {
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
}
.col_kh2 a {
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
}
.col_kh_android a {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
}
.col_kh_android h3 {
  font-size: 20px;
  margin-left: 10px;
}
.col_kh_android p {
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
}
.k3_pt {
  width: 100%;
  height: 40px;
  background-color: black;
  padding-top: 10px;
  padding-left: 85px;
  color: yellow;
  font-weight: bold;
}
.khoa_k1 {
  background-image: url("../image/khoa1_traitim.png");
  background-size: cover;
}
.khoa_k2 {
  background-image: url("../image/khoa2_robot.png");
  background-size: cover;
}
.khoa_k3 {
  background-image: url("../image/khoa3_android1.png");
  background-size: cover;
}
/* Cấu hình về thông tin lien he*/
.footer_thongtin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.tt_lienhe {
  background-color: rgba(0, 0, 0, 0.789);
  width: 460px;
  height: 400px;
}
.tt_lienhe img {
  height: 150px;
  width: 150px;
  margin-left: 30px;
  background-color: #f8f8f8;
  border-radius: 75px 75px 75px;
  margin-top: 10px;
}
.tt_lienhe h4 {
  margin-left: 30px;
  margin-top: 20px;
  text-align: left;
  color: #f8f8f8;
}
/* Cấu hình về thông tin menu */
.tt_chung {
  background-color: rgba(0, 0, 0, 0.789);
  width: 460px;
  height: 400px;
}
.tt_chung h4 {
  text-align: center;
  border: 3px solid #f8f8f8;
  color: #f8f8f8;
}
#tt_menu li {
  text-decoration: none;
  border: none;
  list-style: none;
  font-size: 18px;
  padding: 15px;
}
#tt_menu li a {
  color: #f5f5f5;
}
#tt_menu li:hover a {
  color: darkkhaki;
}
/*cau hinh ve thong tin tai khoan*/
.tt_taikhoan {
  background-color: rgba(0, 0, 0, 0.789);
  width: 460px;
  height: 400px;
}
.tt_taikhoan i {
  font-size: 10px;
  color: #f8f8f8;
  margin-top: 16px;
  margin-left: 10px;
}
.tt_taikhoan h4 {
  margin: 10px;
  margin-left: 10px;
  color: #f8f8f8;
}
.tt_face {
  width: 360px;
  height: 220px;
}
.tt_face h4 {
  text-align: center;
  padding-top: 5px;
}
.img_face {
  width: 360px;
  height: 200px;
  background-image: url("../image/img_face.jpeg");
  background-size: cover;
}
.img_face .img_tt {
  width: 360px;
  height: auto;
  display: flex;
}
.img_tt img {
  display: block;
  width: 80px;
  height: auto;
  margin-left: 30px;
  background-color: #f8f8f8;
  font-weight: 500;
  border-radius: 75px 75px 75px;
  margin-top: 5px;
}
.img_tt a {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  font-weight: 500;
  background: #87cefa;
  margin-top: 15px;
  margin-bottom: 35px;
  padding-right: 5px;
  border-radius: 10px 10px 10px 10px;
}
.img_face .logo_fb {
  background: #87cefa;
  margin-top: 65px;
  margin-left: 30px;
  font-size: 15px;
  margin-right: 210px;
  padding: 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.img_face .logo_fb a {
  color: black;
  font-weight: 500;
}

/* Cấu hình nút back to top*/
.bt_up {
  height: 50px;
  width: 50px;
  bottom: 55px;
  right: 25px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  background-color: #27ae60;
  position: fixed;
  border-radius: 25%;
  opacity: 0;
  pointer-events: none;
  transition: all.4s;
}
.bt_up.active {
  bottom: 35px;
  pointer-events: auto;
  opacity: 1;
  background-color: #27ae60;
  color: white;
}
